@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap");

$purple_dark: #635fc7;
$purple_light: #a8a4ff;
$purple_X_light: #e4ebfa;
$dark_very: #000112;
$dark_slight: #20212c;
$grey_very: #2b2c37;
$grey_slight: #3e3f4e;
$grey-medium: #828fa3;
$light: #f4f7fd;
$white: #ffffff;
$orange_dark: #ea5555;
$orange_light: #ff9898;

$font-family: "Plus Jakarta Sans", sans-serif;
$heading-XL: 24px;
$heading-L: 18px;
$heading-M: 15px;
$heading-S: 12px;
$body-L: 13px;
$body-M: 12px;
