<div class="tasks-container">
  <div class="tasks-main">
    <div class="tasks-group">
      <div class="tasks-group-heading"><span class="icon"></span>TODO (4)</div>

      <div class="tasks">
        <app-b-task></app-b-task>
      </div>
    </div>

    <div class="tasks-group">
      <div class="tasks-group-heading"><span class="icon"></span>DOING (4)</div>

      <div class="tasks">
        <app-b-task></app-b-task>
        <app-b-task></app-b-task>
        <app-b-task></app-b-task>
        <app-b-task></app-b-task>
      </div>
    </div>

    <div class="tasks-group">
      <div class="tasks-group-heading"><span class="icon"></span>DONE (4)</div>

      <div class="tasks">
        <app-b-task></app-b-task>
        <app-b-task></app-b-task>
      </div>
    </div>

    <div class="new-column">+ New Column</div>
  </div>
</div>
