<div class="tasks-container">
  <div class="tasks-main" *ngIf="activeBoard.columns.length > 0">
    <div class="tasks-main-group" *ngFor="let column of activeBoard.columns">
      <div class="tasks-group">
        <div class="tasks-group-heading">
          <span class="icon"></span>{{ column.toUpperCase() }}
        </div>

        <div class="tasks">
          <app-b-task></app-b-task>
        </div>
      </div>
    </div>

    <div class="new-column" (click)="onAddColumn()">+ New Column</div>
  </div>

  <!-- <div class="empty-tasks">
    <div class="empty-tasks-heading">
      This board is empty. Create a new column to get started.
    </div>
    <div class="empty-tasks-button">
      <button>+Add New Column</button>
    </div>
  </div> -->
</div>
