<div class="task-dialog-container">
  <div class="form-error-alert" [ngClass]="{ showError: showError }">
    Fields cannot be empty
  </div>
  <!-- ** ADD TASK ** -->
  <mat-dialog-content
    class="mat-typography add-task"
    *ngIf="type == 'add_task'"
  >
    <div class="add-task-heading">
      {{ isEdit ? "Edit Task" : "Add New Task" }}
    </div>

    <div class="add-task-form">
      <form
        class="add-task-form-main"
        [formGroup]="createTaskForm"
        (ngSubmit)="onSubmit()"
      >
        <div class="form-group">
          <label for="title">Title</label>
          <div class="input-container">
            <input
              formControlName="title"
              name="title"
              type="text"
              placeholder="e.g. Take coffee break"
              [ngClass]="{
                error: title.invalid && title.touched
              }"
            />
            <span class="input-error" *ngIf="title.invalid && title.touched"
              >Can't be empty</span
            >
          </div>
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <div class="input-container text_area">
            <textarea
              formControlName="description"
              name="description"
              id=""
              cols="30"
              rows="10"
              placeholder="e.g. It’s always good to take a break. This 15 minute break will 
              recharge the batteries a little."
              [ngClass]="{
                error: description.invalid && description.touched
              }"
            ></textarea>
            <span
              class="input-error"
              *ngIf="description.invalid && description.touched"
              >Can't be empty</span
            >
          </div>
        </div>

        <div class="form-group sub-tasks" formArrayName="subtasks">
          <label>Subtasks</label>
          <div
            class="sub-tasks"
            *ngFor="let subTaskControl of subtasks.controls; let i = index"
            [formGroupName]="i"
          >
            <div class="sub-task">
              <div class="input-container">
                <input
                  formControlName="subtask"
                  type="text"
                  placeholder="e.g. Make coffee"
                  [ngClass]="{
                    error: subTaskControl.invalid && subTaskControl.touched
                  }"
                />
                <span
                  class="input-error"
                  *ngIf="subTaskControl.invalid && subTaskControl.touched"
                  >Can't be empty</span
                >
              </div>
              <i class="fa-solid fa-xmark" (click)="removeSubtask(i)"></i>
            </div>
          </div>
          <button type="button" (click)="addSubtask()">+Add New Subtask</button>
        </div>

        <div class="form-group select">
          <label for="status">Status</label>
          <mat-form-field>
            <mat-select
              formControlName="status"
              [ngClass]="{ error: status.invalid && status.touched }"
            >
              <mat-option *ngFor="let column of boardColumns" [value]="column"
                >{{ column }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <button type="submit" class="submit-btn">
          {{ isEdit ? "Save Changes" : "Create Task" }}
        </button>
      </form>
    </div>
  </mat-dialog-content>

  <!-- ** VIEW TASK ** -->

  <mat-dialog-content
    class="view-task"
    *ngIf="type == 'view_task' && isEdit == false"
  >
    <div class="view-task-heading">
      <div class="task-heading">
        {{ task.title }}
      </div>
      <i class="fa-solid fa-ellipsis-vertical" [matMenuTriggerFor]="menu"></i>
    </div>

    <div class="view-task-description">
      {{ task.description }}
    </div>

    <div class="view-task-subtasks">
      <div class="view-task-subtasks-heading">
        Subtasks (2 of {{ task.sub_tasks.length }})
      </div>
      <div class="checks">
        <!-- <div
          class="box-group checked"
          (click)="toggleCheck(i, $event)"
          *ngFor="let subtask of task.sub_tasks; let i = index"
        >
          <div class="check-input">
            <input type="checkbox" [value]="i + 1" [checked]="checked" />
            <span class="checkmark"></span>
          </div>

          <label [ngClass]="{ strikethrough: checked }">{{ subtask }}</label>
        </div> -->
        <app-sub-task [subtasks]="task.sub_tasks"></app-sub-task>
      </div>
    </div>

    <div class="status">
      <div class="form-group select">
        <label for="status"> Current Status</label>
        <mat-form-field>
          <mat-select [(value)]="task.status">
            <mat-option *ngFor="let column of boardColumns" [value]="column"
              >{{ column }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>

  <div class="view-task-menu">
    <mat-menu #menu="matMenu">
      <a class="edit_task" (click)="onEdit()">Edit Task</a>
      <a class="delete_task" (click)="onDelete()">Delete Task</a>
    </mat-menu>
  </div>

  <!-- ** DELETE TASK ** -->
  <mat-dialog-content
    class="delete-task"
    *ngIf="type == 'delete_task' && isEdit == false"
  >
    <div class="delete-task-heading">Delete this task?</div>

    <div class="delete-task-copy">
      Are you sure you want to delete the '<span class="delete-task-name">{{
        task.title
      }}</span
      >' task and it's subtasks? This action cannot be reversed.
    </div>

    <div class="delete-task-actions">
      <button id="delete" (click)="onDeleteTask()">Delete</button>
      <button id="cancel" (click)="closeDialog()">Cancel</button>
    </div>
  </mat-dialog-content>
</div>
