<div class="task-dialog-container">
  <!-- <div class="add-task">
    <div class="add-task-heading">Add New Task</div>

    <div class="add-task-form">
      <form class="add-task-form-main">
        <div class="form-group">
          <label for="title">Title</label>
          <input
            name="title"
            type="text"
            placeholder="e.g. Take coffee break"
          />
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <textarea
            name="description"
            id=""
            cols="30"
            rows="10"
            placeholder="e.g. It’s always good to take a break. This 15 minute break will 
recharge the batteries a little."
          ></textarea>
        </div>

        <div class="form-group sub-tasks">
          <label>Subtasks</label>
          <div class="sub-tasks">
            <div class="sub-task">
              <input type="text" placeholder="e.g. Make coffee" />
              <i class="fa-solid fa-xmark"></i>
            </div>

            <div class="sub-task">
              <input type="text" placeholder="e.g. Drink coffee & Smile" />
              <i class="fa-solid fa-xmark"></i>
            </div>
          </div>
          <button type="button">+Add New Subtask</button>
        </div>

       
        <div class="form-group select">
          <label for="status">Status</label>
          <mat-form-field>
            <mat-select>
              <mat-option value="todo" selected> Todo </mat-option>
              <mat-option value="doing"> Doing </mat-option>
              <mat-option value="done"> Done </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <button type="submit" class="submit-btn">Create Task</button>
      </form>
    </div>
  </div> -->

  <div class="view-task">
    <div class="view-task-heading">
      <div class="task-heading">
        Research pricing points of various competitors and trial different
        business models
      </div>
      <i class="fa-solid fa-ellipsis-vertical"></i>
    </div>

    <div class="view-task-description">
      We know what we're planning to build for version one. Now we need to
      finalise the first pricing model we'll use. Keep iterating the subtasks
      until we have a coherent proposition.
    </div>

    <div class="view-task-subtasks">
      <div class="view-task-subtasks-heading">Subtasks (2 of 3)</div>
      <div class="checks">
        <div class="box-group checked" (click)="toggleCheck()">
          <input type="checkbox" value="1" [checked]="checked" />
          <label for="packers" class="strikethrough"
            >Research competitor pricing and business models</label
          >
        </div>

        <div class="box-group">
          <input type="checkbox" value="1" />
          <label for="packers" class="strikethrough"
            >Outline a business model that works for our solution</label
          >
        </div>

        <div class="box-group">
          <input type="checkbox" value="1" />
          <label for="packers" class="strikethrough"
            >Talk to potential customers about our proposed solution and ask for
            fair price expectancy</label
          >
        </div>
      </div>
    </div>

    <div class="status">
      <div class="form-group select">
        <label for="status"> Current Status</label>
        <mat-form-field>
          <mat-select>
            <mat-option value="todo" selected> Todo </mat-option>
            <mat-option value="doing"> Doing </mat-option>
            <mat-option value="done"> Done </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>

  <!-- <div class="delete-task">
    <div class="delete-task-heading">Delete this task?</div>

    <div class="delete-task-copy">
      Are you sure you want to delete the < name of board> and it's subtasks?
      This action will remove all columns and tasks and cannot be reversed.
    </div>

    <div class="delete-task-actions">
      <button id="delete">Delete</button>
      <button id="cancel">Cancel</button>
    </div>
  </div> -->
</div>
