@import "config";
i {
  color: black;
}

.header-container {
  width: 100%;
  background: var(--bgColorHeaderBoardTask);
}

.header-main {
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 83px;
  min-width: 210px;
  padding-left: 30px;
  border-right: 1px solid rgba(#979797, 0.4);
  display: flex;
  align-items: center;
  transition: all 500ms ease;

  &.widen {
    min-width: 276px;
  }

  & img {
    display: none;
    &.dark {
      display: block;
    }
    &.light {
      display: block;
    }
  }
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // flex: 70%;
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  overflow-x: auto;

  .header-text {
    font-size: $heading-XL;
    font-weight: 500;
    color: var(--textHeaderColor);
    text-transform: capitalize;
  }

  & .header-actions {
    display: flex;
    align-items: center;

    & .header-add-task {
      margin-right: 20px;
      & button {
        border: none;
        background: $purple_dark;
        padding: 12px 15px;
        border-radius: 50px;
        color: $white;
        font-size: $heading-M;
        font-weight: 500;
        cursor: pointer;
        white-space: nowrap;
        margin-left: 20px;

        &:hover {
          background: $purple_light;
        }
      }
    }

    & .header-extra {
      & i {
        font-size: 25px;
        color: $purple_light;
        cursor: pointer;
      }
    }
  }
}

// **** MENU STYLE ***

::ng-deep.mat-menu-panel {
  padding: 15px 10px;
  width: 200px;
  background: var(--menu);

  & a {
    display: block;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;

    &.edit_board {
      color: $grey-medium;
      margin-bottom: 30px;
    }

    &.delete_board {
      color: $orange_dark;
    }
  }
}
