<div class="header-container">
  <div class="header-main">
    <div class="logo">
      <img
        src="../../../assets/logo-light.png"
        alt=""
        [ngClass]="{ light: themeState == 'dark' }"
      />
      <img
        src="../../../assets/logo-dark.png"
        alt=""
        [ngClass]="{ dark: themeState == 'light' }"
      />
    </div>

    <div class="header-content">
      <div class="header-text">{{ boardName }}</div>

      <div class="header-actions">
        <div class="header-add-task">
          <button (click)="openModal()">+ Add New Task</button>
        </div>

        <div class="header-extra">
          <i
            class="fa fa-ellipsis-vertical"
            [matMenuTriggerFor]="board_menu"
          ></i>

          <div class="board-menu">
            <mat-menu #board_menu="matMenu">
              <a class="edit_board">Edit Board</a>
              <a class="delete_board">Delete Board</a>
            </mat-menu>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
