<div class="header-container">
  <div class="header-main">
    <div class="logo">
      <img src="../../../assets/logo-dark.png" alt="" />
    </div>

    <div class="header-content">
      <div class="header-text">Platform Launch</div>

      <div class="header-actions">
        <div class="header-add-task">
          <button>+ Add New Task</button>
        </div>

        <div class="header-extra">
          <i class="fa-solid fa-ellipsis-vertical"></i>
        </div>
      </div>
    </div>
  </div>
</div>
