<div class="task-container">
  <div class="task-main">
    <div class="task-main-title">
      Create paper prototypes and conduct 10 usability tests with potential
      customers
    </div>

    <div class="task-main-sub-task">2 of 3 subtasks</div>
  </div>

  <div class="task-main">
    <div class="task-main-title">Build UI for onboarding flow</div>

    <div class="task-main-sub-task">0 of 3 subtasks</div>
  </div>

  <div class="task-main">
    <div class="task-main-title">
      Review results of usability tests and iterate
    </div>

    <div class="task-main-sub-task">3 of 3 subtasks</div>
  </div>
</div>
