@import "config";

.task-main {
  width: 280px;
  background: var(--bgColorHeaderBoardTask);
  box-shadow: 1px 1px 8px rgba(black, 0.1);
  padding: 22px 15px;
  border-radius: 8px;
  cursor: pointer;

  &-title {
    font-size: $heading-M;
    font-weight: 600;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
    color: var(--taskText);
  }

  &-sub-task {
    font-size: $heading-S;
    color: $grey-medium;
    font-weight: 500;
  }

  &:hover {
    & .task-main-title {
      color: $purple_dark;
    }
  }

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}
