<div class="boards-dialog-container">
  <!-- ** ADD BOARD ** -->
  <div class="add-board" *ngIf="type == 'create'">
    <div class="add-board-heading">Add New Board</div>
    <form
      class="add-board-form-main"
      [formGroup]="createBoardForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="form-group">
        <label for="title">Name</label>
        <div class="input-container">
          <input
            formControlName="name"
            name="title"
            type="text"
            placeholder="e.g. Web Design"
            [ngClass]="{ error: name.invalid && name.touched }"
          />
          <span class="error-msg" *ngIf="name.invalid && name.touched">
            Can't be empty</span
          >
        </div>
      </div>

      <div class="form-group columns-group" formArrayName="columns">
        <label *ngIf="columns.controls.length > 0">Columns</label>
        <div
          class="columns"
          *ngFor="let columnControl of columns.controls; let i = index"
          [formGroupName]="i"
        >
          <div
            class="column"
            [ngClass]="{ margin: columns.controls.length > 0 }"
          >
            <div class="input-container">
              <input
                formControlName="column"
                type="text"
                value="Todo"
                [ngClass]="{
                  error: columnControl.invalid && columnControl.touched
                }"
              />
              <span
                class="error-msg"
                *ngIf="columnControl.invalid && columnControl.touched"
              >
                Can't be empty</span
              >
            </div>
            <i class="fa-solid fa-xmark" (click)="removeColumn(i)"></i>
          </div>
        </div>
        <button type="button" (click)="addColumn()">+Add New Column</button>
      </div>

      <button type="submit" class="submit-btn">Create New Board</button>
    </form>
  </div>

  <!-- **DELETE BOARD ** -->
  <div class="delete-board" *ngIf="type == 'delete'">
    <div class="delete-board-heading">Delete this board?</div>

    <div class="delete-board-copy">
      Are you sure you want to delete the < name of board> board? This action
      will remove all columns and tasks and cannot be reversed.
    </div>

    <div class="delete-board-actions">
      <button id="delete">Delete</button>
      <button id="cancel">Cancel</button>
    </div>
  </div>
</div>
