<div class="boards-dialog-container">
  <!-- ** ADD BOARD ** -->
  <div class="add-board">
    <div class="add-board-heading">Add New Board</div>
    <form class="add-board-form-main">
      <div class="form-group">
        <label for="title">Name</label>
        <input name="title" type="text" placeholder="e.g. Web Design" />
      </div>

      <div class="form-group columns-group">
        <label>Columns</label>
        <div class="columns">
          <div class="column">
            <input type="text" value="Todo" />
            <i class="fa-solid fa-xmark"></i>
          </div>

          <div class="column">
            <input type="text" value="Doing" />
            <i class="fa-solid fa-xmark"></i>
          </div>
        </div>
        <button type="button">+Add New Column</button>
      </div>

      <button type="submit" class="submit-btn">Create New Board</button>
    </form>
  </div>

  <!-- **DELETE BOARD ** -->
  <!-- <div class="delete-board">
    <div class="delete-board-heading">Delete this board?</div>

    <div class="delete-board-copy">
      Are you sure you want to delete the < name of board> board? This action
      will remove all columns and tasks and cannot be reversed.
    </div>

    <div class="delete-board-actions">
      <button id="delete">Delete</button>
      <button id="cancel">Cancel</button>
    </div>
  </div> -->
</div>
