<div class="sign-up-container">
  <div class="sign-up-main">
    <div class="sign-up-main-content">
      <div class="sign-up-logo">
        <img src="../../../../assets/logo-light.png" alt="" />
      </div>
      <p class="sign-up-heading">Sign up</p>

      <div class="error-message" [class.show]="errorMessage != ''">
        {{ errorMessage }}
      </div>

      <div class="sign-up-loader" *ngIf="isLoading" [class.grow]="isLoading">
        <span class="loader"></span>
      </div>

      <form
        class="sign-up-form"
        [formGroup]="signUpForm"
        (ngSubmit)="onSubmit()"
      >
        <div class="form-group email">
          <input
            type="text"
            placeholder="Username"
            [formControlName]="'name'"
            [ngClass]="{ 'input-error': name.touched && name.invalid }"
          />
          <div
            class="input-icon"
            [ngClass]="{ 'input-error': name.touched && name.invalid }"
          >
            <i class="fa-solid fa-user"></i>
          </div>
        </div>
        <p class="error name-error" *ngIf="name.touched && name.invalid">
          Please enter a name
        </p>

        <div class="form-group email">
          <input
            type="email"
            placeholder="example@mail.com"
            [formControlName]="'email'"
            [ngClass]="{ 'input-error': email.touched && email.invalid }"
            (keyup)="tell('email')"
          />

          <div
            class="input-icon"
            [ngClass]="{ 'input-error': email.touched && email.invalid }"
          >
            <i class="fa-solid fa-envelope"></i>
          </div>
        </div>
        <p class="error email-error" *ngIf="email.invalid && tellEmailHint">
          Please enter a valid email
        </p>

        <div class="form-group password">
          <input
            [type]="show ? 'text' : 'password'"
            placeholder="Password"
            [formControlName]="'password'"
            [ngClass]="{
              'input-error': password.touched && password.invalid
            }"
            (keyup)="tell('password')"
          />

          <div
            class="input-icon"
            [ngClass]="{
              'input-error': password.touched && password.invalid
            }"
          >
            <i class="fa-solid fa-key"></i>
          </div>
          <div class="eye" (click)="onToggleVisibility('password')">
            <i class="fas fa-eye-slash" *ngIf="!show"></i>
            <i class="fas fa-eye" *ngIf="show"></i>
          </div>
        </div>
        <p
          class="error password-error"
          *ngIf="tellPasswordHint && password.invalid"
        >
          Password must be a minimum of six characters and must contain at least
          (one uppercase and one lowercase character) and at least one number
        </p>

        <div class="form-group confirm-password">
          <input
            [formControlName]="'confirmPassword'"
            [type]="showConfirm ? 'text' : 'password'"
            id="confirm"
            placeholder="Confirm password"
            (keyup)="onKey($event)"
            [ngClass]="{
              'input-error': !passwordMatch && confirmPassword.touched
            }"
            minlength="6"
          />

          <div
            class="input-icon"
            [ngClass]="{
              'input-error': !passwordMatch && confirmPassword.touched
            }"
          >
            <i class="fa-solid fa-key"></i>
          </div>
          <div class="eye" (click)="onToggleVisibility('confirm')">
            <i class="fas fa-eye-slash" *ngIf="!showConfirm"></i>
            <i class="fas fa-eye" *ngIf="showConfirm"></i>
          </div>
        </div>
        <p
          class="error confirm-password-error"
          *ngIf="!passwordMatch && confirmPassword.dirty"
        >
          Passwords do not match
        </p>

        <button
          class="sign-up-btn"
          type="submit"
          [disabled]="signUpForm.invalid || !passwordMatch"
        >
          Sign Up
        </button>
      </form>

      <br />

      <p class="or">OR</p>

      <div class="sign-up-google">
        <button (click)="onSignInWithGoogle()">
          <i class="fab fa-google"></i>
          <span>Sign In with Google </span>
        </button>
      </div>

      <div class="have-account">
        Have an account?
        <a [routerLink]="['/', 'sign-in']"> Sign in</a>
      </div>
    </div>
  </div>
</div>
