@import "config";

.task-container {
  min-height: 500px;
}

.task-main-container {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.task-main {
  width: 280px;
  background: var(--bgColorHeaderBoardTask);
  box-shadow: 1px 1px 8px rgba(black, 0.1);
  padding: 22px 15px;
  border-radius: 8px;
  cursor: pointer;

  &-title {
    font-size: $heading-M;
    font-weight: 600;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
    color: var(--taskText);

    &::first-letter {
      text-transform: capitalize;
    }
  }

  &-sub-task {
    font-size: $heading-S;
    color: $grey-medium;
    font-weight: 500;
  }

  &:hover {
    cursor: grab;
    & .task-main-title {
      color: $purple_dark;
    }
  }

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.example-custom-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 100px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
