@import "config";

.app-container {
  padding: 0px 0;
  position: relative;
  width: 100%;
  height: 100%;
  background: $light;
}

.app-header {
  //   position: absolute;
  //   top: 30px;
  //   left: 30px;
  z-index: 6;
}

.drawer-container {
  position: relative;
  z-index: 5;
  height: 100%;
}

.sidenav {
  width: 276px;
  height: 100%;
  background: $white;
  padding-top: 30px;
}

.sidenav-content {
  height: 100%;
  background: $light;
  padding-left: 30px;
  padding-top: 30px;
}
