<div class="app-container">
  <div class="app-header">
    <app-header></app-header>
  </div>

  <mat-drawer-container class="drawer-container">
    <mat-drawer #drawer class="sidenav" mode="side">
      <app-boards (showSideBar)="toggleSideNav()"></app-boards>
    </mat-drawer>

    <div class="sidenav-content">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-container>

  <div class="sideBar-toggler" *ngIf="isShowSideNav" (click)="toggleSideNav()">
    <img src="../assets/eye.png" alt="" />
  </div>
</div>
