@import "config";

.app-container {
  padding: 0px 0;
  position: relative;
  width: 100%;
  height: 100%;
}

.alert {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}
