<div class="password-reset">
  <div class="sending" *ngIf="isSending">
    <div class="heading">Enter your email to reset your password</div>

    <form [formGroup]="emailForm" (ngSubmit)="onSubmit()">
      <input
        type="text"
        placeholder="enter your email"
        id="email"
        formControlName="email"
      />
      <button type="submit" class="reset-btn">
        <span class="login-btn-text" *ngIf="!isSubmitting">Submit </span
        ><span class="login-btn-loader" *ngIf="isSubmitting"></span>
      </button>
    </form>
  </div>

  <div class="sent" *ngIf="isSent">
    <div class="heading">
      Reset email sent successfully! Please, check your mail.
    </div>

    <button class="reset-btn" type="button">Continue</button>
  </div>
</div>
