@import "config";

.main-container {
  width: 100%;
  height: 100%;
}

.app-header {
  position: fixed;
  width: 100%;
  z-index: 6;
}

.drawer-container {
  position: relative;
  z-index: 5;
  height: 100%;
  padding-top: 80px;
}

.drawer-container-main {
  height: 100%;
  width: 100vw;
  background-color: var(--bgColorContentCheck);
}

.sidenav {
  width: 276px;
  height: 100%;
  background-color: var(--bgColorHeaderBoardTask);
  border-right: 1px solid rgba(#979797, 0.4);
  padding-top: 30px;
}

.sidenav-content {
  display: flex;
  height: 100%;
  background-color: var(--bgColorContentCheck);
  padding-top: 30px;
}

.sideBar-toggler {
  position: absolute;
  z-index: 7;
  left: 0;
  bottom: 45px;
  background: $purple_dark;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  height: 56px;
  width: 56px;
  cursor: pointer;

  &:hover {
    background: $purple_light;
  }

  & img {
    position: absolute;
    top: 50%;
    right: 45%;
    transform: translateY(-50%);
  }
}

.social {
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 10000;
  display: flex;
  align-items: center;

  & .github {
    margin-right: 15px;
  }

  & i {
    font-size: 25px;
    cursor: pointer;
    color: var(--textHeaderColor);
  }
}

@media (max-width: 550px) {
  .sidenav {
    display: none;
  }
}
