/* You can add global styles to this file, and also import other style files */

@import "config";

html,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  font-size: 10px;
  font-family: "Plus Jakarta Sans", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
